div.block-container.css-z5fcl4.egzxvld4{
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
div.css-1y4p8pa.egzxvld4{
    padding-top: 0px;
    padding-bottom:  0px;
}

div.css-qcqlej{
    height: 0px;
}

div.css-79elbk.e1fqkh3o10{
    height: 50%;
}

